.auth{
    position: relative;
    height: 100vh;
    background: url("./images/bg1.jpg") center no-repeat;
    background-size: cover;
}

.auth-box {
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.85);
}

.auth-tab {
    max-width: 300px;
}

.auth-gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8)100%);
}

.auth-form {
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
    left: 0;
    right: 0;
}
.auth-login > h1{
    margin-bottom: 1rem;
}
.auth-signIn{
    display: flex;
}
.auth-signIn > input{
    margin-bottom: 14px;
    outline-width: 0;
    width: 130px;
    height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
}
.auth-fname {
    margin-right: 10px;
}
.auth-login{
    max-width: 450px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 8px;
    display: grid;
    flex-direction: column;
}
.auth-login > input{
    margin-bottom: 14px;
    outline-width: 0;
    height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
}
.login-header{
    position: fixed;
    color: #B39CD0;
    left: 0;
    object-fit: contain;
    padding: 20px;

}
.login-header > h1{
    cursor: pointer;
    font-family: 'Chillax', sans-serif;
    font-size: 25px;
}
.submit-btn {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #7654a0;;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #634686;
}


.switch-btn {
    margin-top: 30px;
    color: gray;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

.auth-signup {
    display: flex;
}

.auth-signup>input {
    margin-bottom: 14px;
    outline-width: 0;
    width: 120px;
    height: 40px;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
}

.auth-fname {
    margin-right: 10px;
}

.switch-btn:hover {
    color: lightgray;
    text-decoration: underline;
}

.signIn-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}