.hompage{
    display: flex;
    padding: 10px 30px;
}
.homepage-post{
    width: 78%;
}
.homepage-form{
    width: 40%;
}
@media (max-width: 800px) {
    .hompage{
        display: flex;
        flex-direction: column-reverse;
    }
    .homepage-post{
        width: 100%;
    }
    .homepage-form{
        width: 100%;
    }
}
